<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio de sesión</title>
  <link rel="stylesheet" href="/FrontEnd/CSS/styleli.css" />
</head>

<body>

  <div class="container">

    <div class="left-panel">
      <img src="/FrontEnd/img/plantel.jpg" alt="CECyT 9 Juan de Dios Bátiz" class="plantel-image" />
    </div>

    <div class="right-panel">
      <div>
        <img src="/FrontEnd/img/logo-ipn.png" alt="Logo IPN" class="logo logo-left" />
        <img src="/FrontEnd/img/rcu-logo.png" alt="Logo RCU" class="logo logo-right" />
      </div>

      <div class="inner-card">
        <h1 class="card-title">Instituto Politécnico Nacional</h1>
        <p class="card-sub">Acceso al sistema</p>

        <a href="/login">
          <button class="btn-login">
            Iniciar Sesión
          </button>
        </a>

      </div>
    </div>
  </div>
</body>

</html>
