<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generar Reporte</title>
  <link rel="icon" type="image/png" href="/FrontEnd/img/rcu-logo.png">
  <link rel="stylesheet" href="/FrontEnd/CSS/stylerep.css">
</head>
<body>
  <header>
    <div class="barra-blanca">
      <img src="/FrontEnd/img/IPNW.png" alt="Logo IPN" class="logo-izq">
      <h2>MENÚ DE REPORTES</h2>
      <img src="/FrontEnd/img/rcu-logo.png" alt="Logo CRU" class="logo-der">
    </div>
  </header>

  <main>
    <div class="contenedor-principal">
      <div class="cuadro-formulario">
        <h1 class="card-title">Instituto Politécnico Nacional</h1>
        <p class="card-sub">Reporte de Problemas</p>

        <form class="form-reporte">
          <label for="edificio">Edificio:</label>
          <select name="edificio" id="edificio">
            <option value="">Selecciona un edificio</option>
          </select>

          <label for="area">Área:</label>
          <select name="area" id="area" disabled>
            <option value="">Selecciona un área</option>
          </select>

          <label for="salon">Salón:</label>
          <select name="salon" id="salon" disabled>
            <option value="">Selecciona un salón</option>
          </select>

          <label for="dispositivo">Dispositivo:</label>
          <select name="dispositivo" id="dispositivo" disabled>
            <option value="">Selecciona un dispositivo</option>
          </select>

          <label for="descripcion">Describe brevemente el problema:</label>
          <textarea id="descripcion" name="descripcion" rows="4" placeholder="Escribe tu descripción aquí"></textarea>

          <div class="botones-fila">
            <button class="btn-enviar" type="button" data-action="enviar">
              Enviar
            </button>

            <button class="btn-volver" type="button" data-action="volver">
              Volver al Menú
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <script src="/FrontEnd/JS/reportar.js"></script>
</body>
</html>
