<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="/FrontEnd/CSS/styleli.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout" />    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=visibility" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet" />
</head>

<body>

    <div class="container">

        <div class="left-panel">
            <img src="/FrontEnd/img/plantel.jpg" alt="CECyT 9" class="plantel-image">
        </div>

        <div class="right-panel">

            <img src="/FrontEnd/img/logo-ipn.png" alt="Logo IPN" class="logo logo-left">
            <img src="/FrontEnd/img/rcu-logo.png" alt="Logo RCU" class="logo logo-right">

            <div class="inner-card">
                <h1 class="card-title">Instituto Politécnico Nacional</h1>
                <p class="card-sub">Acceso al sistema</p>
                <div class="botones-acciones">

                    <button class="btn-action" onclick="location.href='visreportesad.ejs'">
                        <span class="material-symbols-outlined">visibility</span>
                        Ver Reportes
                    </button>

                    <button class="btn-action" onclick="location.href='visreportescompad.ejs'">
                        <span class="material-symbols-outlined">task_alt</span>
                        Reportes Completados
                    </button>

                    <button class="btn-action" onclick="location.href='main.html'">
                        <span class="material-symbols-outlined">arrow_back</span>
                        Volver
                    </button>

                </div>
            </div>

        </div>

    </div>

</body>
</html>
